
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da 2",serif;
    --font-secundary: "Josefin Slab",serif;
    --font-acion: "Mulish", serif;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.hamburguer{
    /*background-color: red;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 200;

}

.show-menu .hamburguer{
    right: 16rem;
    /*depois de apertar o icone hamburguer o sidebar está aberto e o icone se move 16rem da direita*/
}


.line{
     width: 100%;
     height: .1rem;
     background-color: white;
     box-shadow:0.1rem 0.1rem 1px black;
     transition: transform 1s;
    }

.show-menu #line1{
    transform: rotate(45deg) translate(.71rem, .45rem) ;
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg);
}

.hamburguer span{
    position:absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61045F;
    color: white;
    text-shadow: .0rem .0rem white;
    font-family: var(--font-acion);
    opacity: 0;
}

.hamburguer span:before{
    content: "";
    position: absolute;
    border-right: .5rem solid #61045F;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
    
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0,0, 0.5) ;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8 ;
    animation: zoomdaimagem 10s ;
}

.banner{
    position: absolute;
    top: 40%;
    left: 20%;
}

.banner h1{
    color: white;
    font-size: 3rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .2rem rgba(0, 0,0, 0.3);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner .5s forwards;

}

.banner p {
    color: white;
    font-size: 2rem;
    font-family: var(--font-secundary);
    font-weight: 500;
    text-shadow: .2rem .2rem rgba(0, 0,0, 0.3);
    line-height: 3.5rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: moveBanner .75s forwards;


}

.banner button{
    font-family: var(--font-acion);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: .0rem .0rem white;
    background: #AA076B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: .6rem;
    padding-top: .6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 5px;
    opacity: 0;
    animation: moveBanner 1s forwards;
}

.banner button:hover{
    color: #AA076B;
    background: #d9a7c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-shadow: .0rem .0rem #AA076B;

}

@keyframes zoomdaimagem {
    0%{
        transform:scale(1.3)
    }
    100%{
        transform: scale(1);
    }
    }

@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);


    }
    100%{
        transform: translateY(0rem) rotateY(0deg);
        opacity: 1;

    }
}

.sidebar-ou-barra-lateral{
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0rem;
    right: -20rem;
    transition: all 2s;
    z-index: 150;
}

.show-menu .sidebar-ou-barra-lateral{
    right: 0;
/*antes de apertar o icone hamburguer o sidebar está fechado*/
}


.menu {
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-acion);
   
}

.menu-item{
    text-align: center;
    margin-bottom: .4rem;
    
}

.menu-link{
    color: #555;
    font-size: 2rem;
    cursor: pointer;
    transition: color .5s;

}

.menu-link:hover{
    color: #61045F;
}

.social-media{
    /*/background-color: #555;*/
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.fa-facebook{
    color: #555;
    font-size: 2rem;
    transition: color .5s;
}

.fa-facebook:hover{
    color: #61045F;
}

.fa-github-alt{
    color: #555;
    font-size: 2rem;
    transition: color .5s;
}

.fa-github-alt:hover{
    color: #61045F;
}

.fa-linkedin-in{
    color: #555;
    font-size: 2rem;
    transition: color .5s;
}

.fa-linkedin-in:hover{
    color: #61045F;
}   

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr) ;
    grid-template-rows: repeat(7, 7rem);
    row-gap: 2.5rem;
}

.conhecimento:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1 / 3;

}

.conhecimento:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3 / 5;

}

.conhecimento:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5 / -1;

}

.conhecimento:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;

}

.conhecimento:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 3 / 5;

}

.conhecimento:nth-child(6){
    grid-column: 11 / 14;
    grid-row: 5 / -1;

}

.sessao-conhecimentos{
    background-color: #f5f5f5;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
   /* background-color: #f5f5f5;*/

}


.sessao-header h1{
    font-family: var(--font-primary);
    color: #4b4b4b;
    font-size: 3rem;
    border-bottom: solid 6px #61045F;
    margin-bottom: 1rem;
}

.conhecimento-header{

    display: flex;
    align-items: center;
}

.conhecimento-header i{
    font-size: 2.5rem;
    color: #4b4b4b;

}
.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
    color: #4b4b4b;
}

.conhecimento-text p{
    font-family: var(--font-secundary);
    margin-top: 1rem;
    text-shadow:0rem 0rem #4b4b4b ;
    text-align: justify;
    
}

.conhecinhecimentos-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;

}

.conhecinhecimentos-img-wrapper img{
    object-fit: cover;
    width: 100%;
}

.projetos{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
 

}

.card{
    width: 18rem;
    height: 26rem;
    position: relative;
    


}

.card-img-wrapper{
    width: 100%;
    height: 95%;
    border-radius: .5rem;
    background-color: #262626;
   
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    
}



.card-info{
    position: absolute;
    bottom:0;
    padding: 2rem;
    color: #f5f5f5;
    margin-top: 2rem;
    font-size: 1.5rem;
    visibility:hidden;
    opacity: 0;
    transition: all 1s;
}


.card-info h2{
    font-family: var(--font-primary);
    font-weight: 500;
    margin-bottom: .2rem;
    text-shadow: .08rem .08rem #61045F;
    
    
}

.card-info h3{
    font-family: var(--font-secundary);
    
    color: #AA076B;
    text-shadow:.09rem .09rem white;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.card-info p{
    text-align: justify;
    font-family: var(--font-secundary);
    font-weight: 500;
    margin-bottom: 2rem;
    color: white;
    text-shadow: .09rem .09rem black;
    
}

.card-info button{
    width: 8rem;
    height: 2.5rem;
    font-family: var(--font-acion);
    background: #AA076B;
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);
    background: linear-gradient(to right, #61045F, #AA076B);
    color: white;
    text-shadow: .0rem .0rem white;
    cursor: pointer;
    border: none;
    border-radius: .3rem;
 

}
.card-info button:hover{
    background: #d9a7c7;
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    color: #61045F;
    text-shadow: .0rem .0rem #61045F

}

.card:hover .card-info{
    opacity: 1;
    visibility: visible;
}

.sessao-contato{
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-wrapper{
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow:0 2rem 5rem rgba(0, 0, 0, .5);
}

.contato-left{
    width: 35%;
    background:linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)), url(imagens/contato.jpg);
    background-size: cover;

}

.contato-right{
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
}

.sessao-contato h1{
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color:#272727;
    font-size: 3rem;
    font-weight: lighter;

}

.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    position: relative;
}

.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #555;
    height: 2.2rem;
    outline: none;
    margin: 1.8rem 0;

}

.field-label {
    position: absolute;
    left: 0;
    top:0rem;
    font-family: var(--font-secundary);
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all 0.3s;
}

.field:focus~label{
    top: 0;
    font-size: 1rem;
}

.field:focus{
    border-bottom: 1px solid;
}
.btn-submit{
    width: 20rem;
    height: 2.5rem;
    font-family: var(--font-acion);
    background: #AA076B;
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);
    background: linear-gradient(to right, #61045F, #AA076B);
    color: white;
    text-shadow: .0rem .0rem white;
    cursor: pointer;
    border: none;
    border-radius: .3rem;

}

.btn-submit:hover{
    background: #800080;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.sessao-orcamento{
    width: 100%;
    height: 100vh;
    background:url(imagens/orcamento.jpg);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orcamento-wrapper{
    width: 60%;
    height: 80%;
    background-color: #ffffff99;
    color: #272727;
    border-radius: 1rem;
    box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0,0, 0.5);
    position: relative;
}

.sessao-orcamento h1{
    position: absolute;
    top: -3rem;
    left:2rem;
    background: #AA076B;
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);
    background: linear-gradient(to right, #61045F, #AA076B);
    color: #ffffff99;
    text-shadow: .0rem .0rem #ffffff99;
    padding: .0rem 3rem;
    border-radius: .8rem;
    font-family: var(--font-primary);
    font-size: 3rem;
}

.sessao-orcamento form{
    margin: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 3rem;
    column-gap: 3rem;
    
}

.sessao-orcamento label{
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    font-weight: bold;
}

.sessao-orcamento input[type="number"]{
    font-family: var(--font-secundary);
    width: 4rem;
    font-size: 2rem;
    outline: none;
    border-radius: .5rem;
    border: none;
    padding: .7rem;
}

.sessao-orcamento button{
    background: #AA076B;
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);
    background: linear-gradient(to right, #61045F, #AA076B);
    color:#f5f5f5;
    text-shadow: 0 0 0 white;
    cursor: pointer;
    border: none;
    font-size: 2rem;
    font-family: var(--font-acion);
    border-radius: .5rem;
    grid-column: 2;
    padding: 1rem;

}

.sessao-orcamento button:hover{
    background: #d9a7c7;
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    color: #61045F;
    text-shadow: 0 0 0 #61045F;
}


footer{
    width: 100%;
    height: 3.5rem;
    background-color: #17181b;
    color: white;
    text-shadow: 0 0 0 white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    font-family: var(--font-secundary);
    color: #a7a7a7;
    font-size: 1.2rem;
}

.social-list a{
    margin: 0 2rem;
    color: #a7a7a7;
    text-shadow:0 0 0 #a7a7a7;
    font-size: 1.5rem;
    border: none;
}

.social-list a:hover{
    color: #61045F;
    text-shadow:0 0 0 #61045F;

}

.social-list ul{
    display: flex;
}

/*Media queries*/

@media (max-width: 1035px){
    html{
    font-size: 75%;
}

    .sessao-orcamento form{
        
        row-gap: 4rem;
        margin-top: 10rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media (max-width: 770px){
    html{
    font-size: 65%;
    }

    .sidebar-ou-barra-lateral {
        width: 50%;
        right: -80rem;
    }

    .show-menu .hamburguer {
        right: 40%;
    }
    .sessao-orcamento form{
        
        margin-top: 10rem;
        margin-bottom: 10rem;
        row-gap: 7rem;

    }
}

@media (max-width: 760px){


.conhecimentos {
    display: contents;
    row-gap: 4rem;
    font-size: 1.5rem;
    margin: 8rem;
}

.conhecimento-header {

    font-size: 1.5rem;
    margin-left: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.projetos{
    display: flow-root;

}

.card{
    justify-content: center;
    align-items: center;
    margin-left: 37.5%;
    margin-top: 2.5%;
    margin-bottom: 2%;
}

.conhecimento-text p {
   
    margin-top: 1rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

}

@media (max-width: 630px){
    html{
    font-size: 60%;
}

    .sidebar-ou-barra-lateral {
        width: 100%;
        height: 100vh;
        background-color: white;
        position: fixed;
        top: 0rem;
        right: -150rem;
        transition: all 2s;
        z-index: 150;
    }

    .menu-link {

        font-size: 3rem;
        
    }

    .show-menu .hamburguer {
        right: 90%;
    }

    

    .sessao-orcamento form{
        
        margin-top: 7rem;
        margin-bottom: 10rem;
        row-gap: 9rem;

    }
}

@media (max-width: 540px){
    html{
    font-size: 55%;
    }



    .sessao-header h1 {
        margin-top: 1.5rem;
    
    }



    .card{
        justify-content: center;
        align-items: center;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 2.5%;
        margin-bottom: 2%;
    }

    
    .sessao-orcamento form{
        
        margin-top: 7rem;
        margin-bottom: 7rem;
        row-gap: 10rem;

    }

    .orcamento-wrapper {
        width: 80%;
    }

}

@media (max-width: 360px){
    .orcamento-wrapper {
        width: 90%;
    }

    .footer-content p {

        font-size: 1rem;

    }


    
    footer {

        height: 5rem;
    }

}